<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alpine Ski House - About</title>

    <link href="./img/favicon.png" rel="shortcut icon" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div id="alpine-container" class="container">

        <header id="alpine-header" class="container-fluid">
            <nav id="alpine-header-nav" class="row">
                <div id="alpine-header-logo" class="col-xs-12 col-sm-8">
                    <img src="./img/logo.png" alt="Alpine Ski House" />
                    <a href="./Index">Alpine Ski House</a>
                </div>
                <div id="alpine-header-links" class="col-xs-12 col-sm-4 pull-right">
                    <a href="./About">About</a>
                    <a href="./Faq">FAQ</a>
                </div>
            </nav>
        </header>

        <div id="alpine-about" class="row alpine-content">
            <section class="col-xs-12 col-lg-7">
                <header>
                    <h3>About</h3>
                    <h1>Alpine Ski-House</h1>
                </header>
                <div class="section-body">
                    <p>
                        Alpine Ski House, Washington’s premier mountain resort, started as a Swiss logging camp in 1856.  Around the turn of the century the company changed hands and the camp facilities were renovated into a retreat center for international customers. Today, Fran and Margaret Bonnet run Alpine Ski House as a family business.
                    </p>
                    <p>
                        This one-of-a-kind boutique resort, located an hour and twenty minutes from downtown Seattle, sits nestled between Mt. Silas, the world’s coldest active volcano, and Mt. Cumberbach, home to the only know permafrost in the lower 48-states. The Alpine Ski House offers an idyllic setting for winter and summer fun.
                    </p>
                    <p>
                        Check out the list of upcoming events on our home page and start planning your get away today! Call or email Fran and Margie or reserve your room online.
                    </p>
                </div>
            </section>
            <section class="col-xs-12 col-lg-5">
                <div id="alpine-about-summit">
                        <img src="./img/about-mountain.png" />
                        <h2>Experience the Summer’s Musical Summit</h2>
                        <p>
                            This summer we’re packing 50 bands on 4 stages over 3 days between 2 majestic mountains. It’s the 1st annual Alpine music festival! Grab your tickets today!
                        </p>
                        <a href="#" class="button"><span>Check it out</span></a>
                </div>

            </section>
        </div>

    </div>

</body>
</html>
