<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alpine Ski House - Faq</title>

    <link href="./img/favicon.png" rel="shortcut icon" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <div id="alpine-container" class="container">

        <header id="alpine-header" class="container-fluid">
            <nav id="alpine-header-nav" class="row">
                <div id="alpine-header-logo" class="col-xs-12 col-sm-8">
                    <img src="./img/logo.png" alt="Alpine Ski House" />
                    <a href="./Index">Alpine Ski House</a>
                </div>
                <div id="alpine-header-links" class="col-xs-12 col-sm-4 pull-right">
                    <a href="./About">About</a>
                    <a href="./Faq">FAQ</a>
                </div>
            </nav>
        </header>

        <div id="alpine-faq" class="row alpine-content">
            <section class="col-xs-12">
                <header>
                    <h3>Alpine Ski-House</h3>
                    <h1>Frequently Asked Questions</h1>
                </header>
                <div class="section-body">
                    <h4>General questions</h4>
                    <p>

                        <strong>Where is the resort?</strong>
                        We’re located 53 miles from Seattle, out Interstate 90. Follow the resort’s signs at exit 54B.
                    </p>
                    <p>
                        <strong>What’s the easiest way to get there?</strong>
                        <em>Flying:</em> We offer a complimentary shuttle from Sea-Tac Airport that runs mid-October to mid-March.  Please call to ask about availability and reserve a seat.<br />
                        <em>Driving:</em> Our parking lot fills up quickly during peak ski times and the summer music festival. If you plan to drive, you can increase the likelihood of getting a spot by arriving outside lift hours.  Additionally, we offer carpool parking close to the Ski house for those who meet our carpool requirements.
</p>
                    <p>
                        <strong>What’s the cancellation policy for lodging?</strong>
                        Suite reservations may be canceled and refunded in full up to 30 days before arrival. Cancelations made between 29 and 10 days of arrival will result in a 50% fee which can be applied to your next stay. Cancelations made 9 days or less before arrival will not be eligible for a refund.
                    </p>
                    <p>
                        <strong>Does the room include my lift ticket?</strong>
                        No. The ski facilities are run by an independent operator, Ski Mountain LLC.  Please visit their webpage for information about lift tickets, season passes and gear rentals.
                    </p>
                    <p>
                        <strong>Is there anything else to do out there if I don’t want to ski?</strong>
                        During the warmer months, we offer six well-maintained mountain trails for hiking or biking, three alpine slides and a scenic lift ride to the natural hot springs. In the winter, you can explore the mountain on snowshoes (available to our guests for free), take a wine pairing class with our expert sommelier or go back hill trekking with a guide.
                    </p>
                    <p>
                        <strong>What amenities does the resort offer?</strong>
                        We offer a 24-hour gym (with treadmills, ellipticals and free weights), Olympic-size lap pool and hot tub, fully stocked library with business stations (computers, printers and WiFi), and massage services (available on request).
                    </p>
                    <h4>Music festival tickets & logistics</h4>
                    <p>
                        <strong>When is the festival?</strong>
                        July 26-28 2018
                    </p>
                    <p>
                        <strong>When and how can I buy tickets for the music festival?</strong>
                        Festival passes go on sale midnight March 15 on our website. Tickets will be available until they’re sold out.
                    </p>
                    <p>
                        <strong>Can I buy a ticket at the gate?</strong>
                        No. Scalping will not be tolerated either.
                    </p>
                    <p>
                        <strong>Can I buy a single day pass?</strong>
                        No. The festival pass is good for the whole weekend.
                    </p>
                    <p>
                        <strong>Can I share my pass if I don’t want to go all 3 days?</strong>
                        Sorry, no. Due to safety procedures passes will be printed with the passholder’s name and all passholders will be required to show a photo ID on entry.
                    </p>
                    <p>
                        <strong>Will the festival be wheel-chair accessible?</strong>
                        Yes. We’ll have accessible porta pots, shower stalls and camping spots available as well.
                    </p>
                    <p>
                        <strong>What happens if I get sick or injured during the festival?</strong>
                        A team of medics will be on site 24 hours a day throughout the festival weekend.
                    </p>
                    <p>
                        <strong>Will there be security officers on site?</strong>
                        Yes. We’ll have security officers at the gate and on patrol 24 hours a day during the festival. We’ve contracted with the local police to have deputies available as well.
                    </p>
                    <p>
                        <strong>Will there be ATMs on-site?</strong>
                        Yes, we’ll have 12 ATMs across the grounds. Please check the map for the one nearest you.
                    </p>
                    <p>
                        <strong>Can I pay with credit or debit cards?</strong>
                        Yes. All vendors will be able to accept credit, debit or cash payments.
                        Is there a safe place to stow my valuables?
                        Lockers are available for rent on a first-come, first-served basis.  We offer 3 different sizes.
                    </p>
                    <p>
                        <strong>Will I be able to charge my phone?</strong>
                        Electrical outlets will be available throughout the festival and at a charging tower in the food court.
                    </p>
                    <p>
                        <strong>Is there going to be WiFi?</strong>
                        Ski House guests receive complimentary WiFi. Festival guests may use the service from the library for a nominal fee.
                    </p>
                    <h4>Music festival room & board</h4>
                    <p>
                        <strong>Where can I stay that weekend?</strong>
                        <em>Stay with us!</em> The Alpine Ski House offers 50 luxury suites perfect for festival guests. <br />
                        Bring your RV. We have 48 RV hook-ups available in the north lot. Please call for rates and to reserve a spot.
                        Pitch a tent. We’ll have spots marked off in the lower field for camping.
                    </p>
                    <p>
                        <strong>Can I stay the whole week?</strong>
                        It depends… if you’re staying at the ski house or reserving an RV hook-up, book for a long as you like. We’re open all year round!  Tent camping spots will be available starting at noon the day before the festival begins and they will be closed at 4pm the day after it ends.
                    </p>
                    <p>
                        <strong>Will there be bathroom and shower facilities for campers?</strong>
                        Porta Pots will be a plenty and absolutely free! Shower stalls (complete with toilet, sink and power) will be available for campers at a rate of $3 per 5 minutes.
                    </p>
                    <p>
                        <strong>What about food? What is there to eat?</strong>
                        <em>Food trucks:</em> We’ll have rotating food trucks on site for every meal (and in between).<br />
                        <em>Farmer’s market:</em> There will be an on-site farmer’s market each morning for campers.<br />
                        <em>General store:</em> We’ll provide a small on-site market stocked with easy-to-prepare camping foods, snacks, toiletries and more.<br />
                        <em>Pack it in:</em> Or bring your own food from home.
                    </p>
                    <p>
                        <strong>Can I get water on site?</strong>
                        Bottled water will be available for purchase or you can fill your own canteen for free from one of our filling stations.
                    </p>
                    <p>
                        <strong>Can I build a campfire?</strong>
                        Designated firepits will be available near camp grounds for use after sunset.
                    </p>
                    <h4>Questions about the bands</h4>
                    <p>
                        <strong>I’m in a band! Can we play at your festival?</strong>
                        We have our rooster locked for 2018, but we’re accepting demos for next summer until Jan 30, 2019.
                    </p>
                    <p>
                        <strong>Where can I find a schedule of the bands?</strong>
                        We’ll post a full schedule of the bands on our website 2 weeks before the festival and email it to passholders who provide an email address.
                    </p>
                    <p>
                        <strong>How long does each band play?</strong>
                        Bands play 90 minute sets.
                    </p>
                    <p>
                        <strong>Will I be able to buy a t-shirt at the festival?</strong>
                        Yes. Bands may sell their own merchandise for 2 hours after they perform, if they choose, in the retail section.
                    </p>
                    <p>
                        <strong>Can I get my shirt signed?</strong>
                        Maybe. Bands may choose to sign autographs at their retail table during the 2 hours they are permitted to sell merchandise.  Autographs are at the artists’ discretion.
                    </p>
                    <h4>Local activities</h4>
                    <p>
                        <strong>I’m thinking about making a week of it, what can we do before/after the festival?</strong>
                        At the Ski House, we schedule destination events and activities all summer long. The week leading up to the festival we’ll have renowned ornithologists on location for guided birding excursions. Additionally, we have our six well-maintained mountain trails for hiking or biking, three alpine slides and a scenic lift ride to the natural hot springs.
                    </p>
                    <p>
                        <strong>Is there anything else going on nearby?</strong>
                        Attend the art festival in Alpine Rose (30 min drive from the Ski House) every Thursday in the summer. Tour the volcano and permafrost field by helicopter. Raft the river at the base of Mt. Cumberbach. Looking for something else? Give us a call and we’ll help you find the “meow” for your cat.
                    </p>
                    <p>
                        <strong>Will the lifts be open for site seeing?</strong>
                        Yes! Ski Mountain LLC will extend their normal summer hours to make the lift available throughout the music festival weekend.  Tickets can be purchased at the lift. Please wear rugged shoes that can handle snow, ice or mud.
                    </p>
                </div>
            </section>
        </div>

    </div>

</body>
</html>
