<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Alpine Ski House</title>

    <link href="./img/favicon.png" rel="shortcut icon" />

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Custom styles -->
    <link rel="stylesheet" href="./css/chatbot.css">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div id="alpine-container" class="container">

        <header id="alpine-header" class="container-fluid">
            <nav id="alpine-header-nav" class="row">
                <div id="alpine-header-logo" class="col-xs-12 col-sm-8">
                    <img src="./img/logo.png" alt="Alpine Ski House" />
                    <a href="./Index">Alpine Ski House</a>
                </div>
                <div id="alpine-header-links" class="col-xs-12 col-sm-4 pull-right">
                    <a href="./About">About</a>
                    <a href="./Faq">FAQ</a>
                </div>
            </nav>
        </header>

        <div id="alpine-home" class="row alpine-content">
            <section class="col-XS-12">
                <header>
                    <h1>The Summer’s Musical Summit</h1>
                </header>
                <div class="section-body">
                    <p>
                        Come for the slopes in the winter, the music in the summer and the natural hot springs any time of year.<br />
                        We’ve got something for everyone at Alpine Ski House, the resort on the volcano.
                    </p>
                    <p>
                        Have questions on event info, band line ups or lodging?
                    </p>
                    <a id="open-chat" href="#" class="button"><span>Ask our bot</span></a>
                    <div id="alpine-home-house">
                        <h1>Alpine Ski-House</h1>
                        <p>
                            This one-of-a-kind boutique resort, located an hour and twenty minutes from downtown Seattle, sits nestled
                            between Mt. Silas, the world’s coldest active volcano,and Mt. Cumberbach.
                        </p>
                        <a href="./About" class="button"><span>Explore ski-house</span></a>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div>
        <iframe src='https://webchat.botframework.com/embed/openhack-challenge5?s=FvLmWMqQ4m0.cwA.R5A.7BWqdpQ0nxwrWO4r04VVhOj_8luUXZENBs3lWRSvFlo'></iframe>
    </div>
    <script src="https://unpkg.com/botframework-webchat/botchat.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        var botConnection = new BotChat.DirectLine({
            secret: 'FvLmWMqQ4m0.cwA.R5A.7BWqdpQ0nxwrWO4r04VVhOj_8luUXZENBs3lWRSvFlo'
        });
        
        botConnection.activity$
            .filter(activity => activity.type === 'event' && activity.name === 'authenticate')
            .subscribe((activity) => {
                console.log('attempting auth call');
                $.get('/api/agentauthentication/authenticate?id=' + activity.text)
                    .then((data, status) => {
                        console.log(status);
                        console.log('call complete');
                    }, (jqXHR, status, error) => {
                        console.log(error);
                    });
            });
    </script>
</body>
</html>
